<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đổi Mật Khẩu Mới</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen" style="font-family: 'Quicksand', sans-serif;">
    <div class="bg-white p-8 rounded-xl shadow-lg w-full max-w-md text-center">
        <h2 class="text-2xl font-bold text-gray-800 mb-6">Đặt Mật Khẩu Mới</h2>

        <form th:action="@{/reset_password}" method="post">
            <!-- Truyền email ngầm để biết đang đổi pass cho ai -->
            <input type="hidden" name="email" th:value="${email}">
            
            <input type="password" name="password" required placeholder="Nhập mật khẩu mới" 
                   class="w-full border border-gray-300 p-3 rounded-lg mb-4 focus:outline-none focus:border-pink-500">
            
            <button class="w-full bg-pink-500 text-white font-bold py-3 rounded-lg hover:bg-pink-600 transition">Lưu Mật Khẩu</button>
        </form>
    </div>
</body>
</html>